# you may need to run conda config --add channels conda-forge before installing
requests
black
isort
ruff
mypy
python-dotenv
alive-progress
numpy
pandas
mplfinance
Pillow
scikit-learn
scikit-image
openblas